
.bckg{
    background-color: green;
    height: 100vh;
}

.card{
    background-color: white;
    border: 5px;
    border-color: black;
}


.negro{    
    color: black;   
    font-size: 60px;
}


.rojo{
    color: red;
    font-size: 60px;
}


.num{
    font-size: 150px;

}